<form action="/additem" method="post">
 <p> <span class="td"><input type="text" name="description" placeholder="Description"> </span> </p>
<p> <span class="td"><input type="text" name="data" placeholder="Data"> </span> </p>
<p> <span class="td"><input type="text" name="phone_number" placeholder="Phone Number"> </span> </p>
<p> <span class="td"><input type="text" name="email_address" placeholder="Email address"> </span> </p>
  
<label><input type="radio" name="option" value="Lost">Lost</label>
<label><input type="radio" name="option" value="Found">Found</label>
<p>
<button type="submit">Save changes</button>
</p>

</form>
