<html>
<head>
  <meta charset="UTF-8">
  <title>Map</title>
  <style>
    body      { padding: 30px; }
    div.table { display: table; }
    form.tr   { display: table-row; }
    span.td   { display: table-cell; padding: 10px; }
  </style>
</head>
<body>
  <h2>Lost & Found</h2>
  
</body>
</html>


